<div>
    <h2>login</h2>
    <%= form_tag("/users/login") do %>
          <p>登録メールアドレス</p>
          <input>
           <p>パスワード</p>
          <input type="password">
          <input type="submit" value="ログイン">
    <% end %>
</div>