<div>
    <h2>login</h2>
        <%# エラーメッセージ %>
      <% if @error_message %>
      <div class="form_error">
      <%# エラーメッセージを表示 %>
        <p class="error">
          <%= @error_message %>
        </p>
      </div>
      <% end %>
      <%# エラーメッセージ %>
    <%= form_tag("/login") do %>
         <ul class="flex">
            <li>
                <p>email</p>
            </li>
            <li>
                <input name="email" value="<%= @email%>">
            </li>
        </ul>
        <ul class="flex">
            <li>
                <p>password</p>
            </li>
            <li>
                <input name="password" type="password" value="<%= @password%>">
            </li>
        </ul>
        <input type="submit" value="login" class="Login">
    <% end %>
</div>