<div>
    <h2>sign up</h2>
    <%= form_tag("/users/create") do %>
          <p>ユーザー名</p>
          <input name="name" value="<%=  %>">
          <p>メールアドレス</p>
          <input name="email" value="<%=  %>">
           <p>パスワード</p>
          <input name="password" type="password">
          <input type="submit" value="新規登録">
    <% end %>
</div>